.header {
    background-color: beige;
    display: flex;
    border: 2px black solid;
    position: relative;
}
.background{
    margin: 0;
    max-height: 40vh;
    /* Маска для прозрачности картинки */
    -webkit-mask-image: linear-gradient(to right, 
        black 0%, 
        black 33%, 
        transparent 60%);
    mask-image: linear-gradient(to right, 
        black 0%, 
        black 33%, 
        transparent 60%);
} 
.background img{
    margin: 0;
    max-height: 40vh;
    min-height: 40vh;
    object-fit: cover;
    flex-shrink: 0;
}
.nav-container {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(0%, -50%); /* Вычитает 50% от собственных размеров */
        flex-shrink: 0;
    flex-grow: 0;
}
.title {
    text-align: center;
    color: chocolate;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
}
.nav-item {
    margin: 1em;
    width: 60%;
}
.nav-item a,
.nav-item form button{
    border: none;
    background: none;
    text-decoration: none;
    font: 500 1.5em sans-serif;
    color: chocolate;
}




